body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  /* background-image: url('./assets/galaxy.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10% 50% ; */
  background-color: #121212 ;
}

.main-header-logo {
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: 'middle';
  margin-right: '0.5rem';
}

.wrapper {
  /* gradient applied once here */
  background: linear-gradient(140deg, rgb(184, 46, 252) 0%, rgb(41, 75, 244) 100%);
  background-attachment: fixed; /* helps keep the gradient visually stable */
  padding-top: 64px; /* reserve space for fixed topbar height */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.main-card{
  margin-top: 3.4rem;
  width: 100%;
}

.card-content{
  text-align: center;
  color:aliceblue;
}